body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:8px;
}

#display{
    background-color: lightgray;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 278px;
    height: 62px;
}

#keyboard{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap:8px;
}

.key_row{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:8px;
}


.number_button{
    background-color:brown;
    width: 64px;
    height: 64px;
}

.special_button{
    background-color: blueviolet;
    width: 64px;
    height: 64px;
}

.operator_button{
    background-color: blue;
    width: 64px;
    height: 64px;
}